name: Run Playwright 
on:
  workflow_dispatch:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  playwright-demo-tests:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    permissions:
      checks: write
      pull-requests: write
    steps:
    - uses: actions/checkout@v6
      name: Get test project from version control
    - uses: actions/setup-node@v6
      name: Setup NodeJS 20
      with:
        node-version: 20
    - name: Install dependencies
      run: npm install
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    - name: Run the tests
      run: npx playwright test
    - uses: actions/upload-artifact@v4
      name: Publish HTML test report for download
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30